<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>777206922346-c800ingosj3btg2af5pj7245qc48mhlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777206922346-c800ingosj3btg2af5pj7245qc48mhlc</string>
	<key>API_KEY</key>
	<string>AIzaSyDVfpLJzaMp56gzbLbhauPCvDooXaMsJPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>777206922346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anna.myToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-3cefa</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-3cefa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:777206922346:ios:15033a7c246e8709</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-3cefa.firebaseio.com</string>
</dict>
</plist>